{% load static %}
{% load bootstrap4 %}


<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'images/brain_icon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <title>Knowledge Community | Login</title>

    {% bootstrap_css %}
</head>
<body class="bg-dark  d-flex justify-content-center ">
    <div class="row w-100">
        <!--layout-->
        <section class="container-fluid
                        personalizated
                        vh-100
                        text-light
                        col-md-6
                        card
                        vh-100
                        col-md-6
                        hidden
">
            <p class="display-1 my-auto p-3">
                In everything we do, we follow something new.
            </p>
        </section>

        <!--form-->
        <section class="container-fluid bg-dark text-light w-100 card vh-100 col-md-6">
                    {% bootstrap_messages %}
        <form class="form card-body d-flex flex-column align-items-center  mx-auto my-auto w-75"
              action="{% url 'login' %}"
              method="post"
              autocomplete="off">
            {% csrf_token %}
            <div class="my-auto w-100">
                {% bootstrap_form form %}
                 {% buttons %}
                 <button type="submit" class="btn mt-2 personalizated w-100 font-weight-bold">Register</button>
                {% endbuttons %}
                <a href="{% url 'login' %}" class="m-0 d-flex justify-content-end register_link text-white">
                    Do you have an account yet? [Sign in]</a>
            </div>
        </form>
        </section>
    </div>

    {% bootstrap_javascript jquery='full' %}
</body>
</html>